<div class="modal fade" id="verticalycentered1" tabindex="-1" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Insert Topic</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" method="post" action="NewTopic" id="insertTopic">
                    <div class="col-12">
                        <label for="inputName04" class="form-label">Topic Name</label>
                        <input type="text" class="form-control" id="inputName04" name="topic_name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="create">Create</button>
                    </div>
                </form><!-- Vertical Form -->
            </div>
        </div>
    </div>
</div><!-- End Vertically centered Modal-->
