@model GiveAID.Models.Partnership;
@using Microsoft.AspNetCore.Http;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "../shared/_LayoutAdmin.cshtml";
}

<body>
    <div class="card-body">
        <h3 style="text-align:center" class="card-title">Create Partner</h3>
        <!-- General Form Elements -->
        <form method="post" action="/Admin/Admin/InsertPartner" enctype="multipart/form-data" style="padding:35px 35px" id="insertPartner">
            <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Name Partner</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="partner_name">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Logo</label>
                <div class="col-sm-10">
                    <input class="form-control" type="file" accept=".jpg,.jpeg,.png" onchange="validateFileType(event)" name="myUploads" id="logo">
                    <div id="preview" class="preview" ></div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" style="height: 100px" name="Description" placeholder="Write something here…"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="create">Create</button>
        </form><!-- End General Form Elements -->
    </div>
</body>
@section myscripts{
    <script>
        $('#create').on("click", function () {
            $("#insertPartner").validate({
                onfocusout: false,
                onkeyup: false,
                onclick: false,
                errorClass: 'error',
                rules: {
                    "partner_name": {
                        required: true,
                        minlength: 5
                    },
                    "Description": {
                        required: true,
                        minlength: 15
                    },
                    "myUploads": {
                        required: true,
                    }
                },
                messages: {
                    "partner_name": {
                        required: "Please enter the name partner",
                        minlength: "Please enter more than 5 characters"
                    },
                    "Description": {
                        required: "Please enter the Description",
                        minlength: "Please enter more than 15 characters"
                    },
                    "myUploads": {
                        required: "Please choose a file",
                    }
                }
            });
        });
    </script>
}
<script>
    const logo = document.getElementById('logo');
    const preview = document.getElementById('preview');
    logo.addEventListener('change', function (event) {
        const file = event.target.files[0];
        const reader = new FileReader();
        reader.onload = function (event) {
            const imageUrl = event.target.result;
            const img = document.createElement('img');
            img.src = imageUrl;
            preview.innerHTML = '';
            preview.appendChild(img);
        };
        reader.readAsDataURL(file);
    });
</script>
<script type="text/javascript">
    function validateFileType(event) {
        var logo = document.getElementById("logo").value;
        var file = document.getElementById("logo");
        var idxDot = logo.lastIndexOf(".") + 1;
        var extFile = logo.substr(idxDot, logo.length).toLowerCase();
        if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {

        } else {
            alert("You are only select image");
            file.value = "";
        }

    }
</script>





